.mask {
  -webkit-mask-image: url("../img/circle.svg");
  mask-image: url("../img/circle.svg");
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
}
.mask.mask-size-5 {
  -webkit-mask-size: 5% 5%;
  mask-size: 5% 5%;
}
.mask.mask-size-10 {
  -webkit-mask-size: 10% 10%;
  mask-size: 10% 10%;
}
.mask.mask-size-25 {
  -webkit-mask-size: 25% 25%;
  mask-size: 25% 25%;
}
.mask.mask-size-50 {
  -webkit-mask-size: 50% 50%;
  mask-size: 50% 50%;
}
.mask.mask-size-75 {
  -webkit-mask-size: 75% 75%;
  mask-size: 75% 75%;
}
.mask.mask-size-100 {
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}
.mask.mask-size-cover {
  -webkit-mask-size: cover;
  mask-size: cover;
}
.mask.mask-size-contain {
  -webkit-mask-size: contain;
  mask-size: contain;
}
.mask.mask-x-center {
  -webkit-mask-position-x: center;
  mask-position-x: center;
}
.mask.mask-y-bottom {
  -webkit-mask-position-y: bottom;
  mask-position-y: bottom;
}
.mask.mask-y-center {
  -webkit-mask-position-y: center;
  mask-position-y: center;
}
.mask.mask-y-top {
  -webkit-mask-position-y: top;
  mask-position-y: top;
}
.mask.mask-repeat {
  -webkit-mask-repeat: repeat;
  mask-repeat: repeat;
}
.mask.mask-repeat-x {
  -webkit-mask-repeat: repeat-x;
  mask-repeat: repeat-x;
}
.mask.mask-repeat-y {
  -webkit-mask-repeat: repeat-y;
  mask-repeat: repeat-y;
}
.mask.mask-rectangles-transparent {
  -webkit-mask-image: url("../img/rectangles-transparent.png");
  mask-image: url("../img/rectangles-transparent.png");
}
.mask.mask-polygon {
  -webkit-mask-image: url("../img/polygon.svg");
  mask-image: url("../img/polygon.svg");
}
.mask.mask-rounded {
  -webkit-mask-image: url("../img/rounded.svg");
  mask-image: url("../img/rounded.svg");
}
.mask.mask-circle {
  -webkit-mask-image: url("../img/circle.svg");
  mask-image: url("../img/circle.svg");
}
.mask.mask-stroke {
  -webkit-mask-image: url("../img/stroke.svg");
  mask-image: url("../img/stroke.svg");
}
.mask.mask-bubbles {
  -webkit-mask-image: url("../img/bubbles.svg");
  mask-image: url("../img/bubbles.svg");
}
.mask.mask-bubbles-top-left {
  -webkit-mask-image: url("../img/bubbles-top-left.svg");
  mask-image: url("../img/bubbles-top-left.svg");
}
.mask.mask-bubbles-bottom-left {
  -webkit-mask-image: url("../img/bubbles-bottom-left.svg");
  mask-image: url("../img/bubbles-bottom-left.svg");
}
.mask.mask-bubbles-bottom-right {
  -webkit-mask-image: url("../img/bubbles-bottom-right.svg");
  mask-image: url("../img/bubbles-bottom-right.svg");
}
.mask.mask-bubbles-top-right {
  -webkit-mask-image: url("../img/bubbles-top-right.svg");
  mask-image: url("../img/bubbles-top-right.svg");
}
.mask.mask-bubbling-top {
  -webkit-mask-image: url("../img/bubbling-top.svg");
  mask-image: url("../img/bubbling-top.svg");
}
.mask.mask-bubbling-bottom {
  -webkit-mask-image: url("../img/bubbling-bottom.svg");
  mask-image: url("../img/bubbling-bottom.svg");
}
.mask.mask-bubbling-bottom-inverse {
  -webkit-mask-image: url("../img/bubbling-bottom-inverse.svg");
  mask-image: url("../img/bubbling-bottom-inverse.svg");
}
.mask.mask-bubbling-top-inverse {
  -webkit-mask-image: url("../img/bubbling-top-inverse.svg");
  mask-image: url("../img/bubbling-top-inverse.svg");
}
.mask.mask-grungeborder-1 {
  -webkit-mask-image: url("../img/grungeborder-1.svg");
  mask-image: url("../img/grungeborder-1.svg");
}
.mask.mask-grungeborder-2 {
  -webkit-mask-image: url("../img/grungeborder-2.svg");
  mask-image: url("../img/grungeborder-2.svg");
}
.mask.mask-shooting-star {
  -webkit-mask-image: url("../img/shooting-star.svg");
  mask-image: url("../img/shooting-star.svg");
}
.mask.mask-tilt-left {
  -webkit-mask-image: url("../img/tilt-left.svg");
  mask-image: url("../img/tilt-left.svg");
}
