$shapes:(
    "rectangles-transparent": '../img/rectangles-transparent.png',
    "polygon": '../img/polygon.svg',
    "rounded": '../img/rounded.svg',
    "circle": '../img/circle.svg',
    "stroke": '../img/stroke.svg',
    "bubbles": '../img/bubbles.svg',
    "bubbles-top-left": '../img/bubbles-top-left.svg',
    "bubbles-bottom-left": '../img/bubbles-bottom-left.svg',
    "bubbles-bottom-right": '../img/bubbles-bottom-right.svg',
    "bubbles-top-right": '../img/bubbles-top-right.svg',
    "bubbling-top": '../img/bubbling-top.svg',
    "bubbling-bottom": '../img/bubbling-bottom.svg',
    "bubbling-bottom-inverse": '../img/bubbling-bottom-inverse.svg',
    "bubbling-top-inverse": '../img/bubbling-top-inverse.svg',
    "grungeborder-1": '../img/grungeborder-1.svg',
    "grungeborder-2": '../img/grungeborder-2.svg',
    "shooting-star": '../img/shooting-star.svg',
    "tilt-left": '../img/tilt-left.svg'
    );

$sizes:(
    "5": 5% 5%,
    "10": 10% 10%,
    "25": 25% 25%,
    "50": 50% 50%,
    "75": 75% 75%,
    "100": 100% 100%,
    "cover": cover
);

.mask{
    -webkit-mask-image: url('../img/circle.svg');
    mask-image: url('../img/circle.svg');
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;

    @each $name, $value in $sizes {
        &.mask-size-#{$name} {
            -webkit-mask-size: $value;
            mask-size: $value;
        }
    }


    &.mask-size-contain{
        -webkit-mask-size: contain;
        mask-size: contain;
    }
    &.mask-x-center{
        -webkit-mask-position-x: center;
        mask-position-x: center;
    }
    &.mask-y-bottom{
        -webkit-mask-position-y: bottom;
        mask-position-y: bottom;
    }
    &.mask-y-center{
        -webkit-mask-position-y: center;
        mask-position-y: center;
    }
    &.mask-y-top{
        -webkit-mask-position-y: top;
        mask-position-y: top;
    }
    &.mask-repeat{
        -webkit-mask-repeat: repeat;
        mask-repeat: repeat;
    }
    &.mask-repeat-x{
        -webkit-mask-repeat: repeat-x;
        mask-repeat: repeat-x;
    }
    &.mask-repeat-y{
        -webkit-mask-repeat: repeat-y;
        mask-repeat: repeat-y;
    }

    @each $name, $value in $shapes {
        &.mask-#{$name} {
            -webkit-mask-image: url($value);
            mask-image: url($value);
        }
    }

}
