@import "scss/_masks";

$sizes:(
    "5": 5% 5%,
    "10": 10% 10%,
    "25": 25% 25%,
    "50": 50% 50%,
    "75": 75% 75%,
    "100": 100% 100%,
    "cover": cover
);

.mask{
    -webkit-mask-image: url('img/circle.svg');
    mask-image: url('img/circle.svg');
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;

    @each $name, $value in $sizes {
        &.mask-size-#{$name} {
            -webkit-mask-size: $value;
            mask-size: $value;
        }
    }


    &.mask-size-contain{
        -webkit-mask-size: contain;
        mask-size: contain;
    }
    &.mask-x-center{
        -webkit-mask-position-x: center;
        mask-position-x: center;
    }
    &.mask-y-bottom{
        -webkit-mask-position-y: bottom;
        mask-position-y: bottom;
    }
    &.mask-y-center{
        -webkit-mask-position-y: center;
        mask-position-y: center;
    }
    &.mask-y-top{
        -webkit-mask-position-y: top;
        mask-position-y: top;
    }
    &.mask-repeat{
        -webkit-mask-repeat: repeat;
        mask-repeat: repeat;
    }
    &.mask-repeat-x{
        -webkit-mask-repeat: repeat-x;
        mask-repeat: repeat-x;
    }
    &.mask-repeat-y{
        -webkit-mask-repeat: repeat-y;
        mask-repeat: repeat-y;
    }

    @each $name, $value in $shapes {
        &.mask-#{$name} {
            -webkit-mask-image: url($value);
            mask-image: url($value);
        }
    }

}
