- classes =[\
    [\
    'mask-size-5',\
    'Size of the mask 5% of the current image',\
    'mask-x-center mask-y-center'\
    ],\
    [\
    'mask-size-10',\
    'Size of the mask 10% of the current image',\
    'mask-x-center mask-y-center'\
    ],\
    [\
    'mask-size-25',\
    'Size of the mask 25% of the current image',\
    'mask-x-center mask-y-center'\
    ],\
    [\
    'mask-size-50',\
    'Size of the mask 50% of the current image',\
    'mask-x-center mask-y-center'\
    ],\
    [\
    'mask-size-75',\
    'Size of the mask 75% of the current image',\
    'mask-x-center mask-y-center'\
    ],\
    [\
    'mask-size-100',\
    'Stretches the mask over both sides by 100%',\
    'mask-x-center mask-y-center'\
    ],\
    [\
    'mask-size-cover',\
    'Sets the CSS value cover',\
    'mask-x-center mask-y-center'\
    ],\
    [\
    'mask-size-contain',\
    'Sets the CSS value contain',\
    'mask-x-center mask-y-center'\
    ],\
    [\
    'mask-x-center',\
    'Horizontally centered mask',\
    'mask-size-50'\
    ],\
    [\
    'mask-y-center',\
    'Vertically centered mask.',\
    'mask-size-50'\
    ],\
    [\
    'mask-repeat',\
    'Repeat the mask pattern',\
    'mask-x-left mask-size-10'\
    ],\
    [\
    'mask-repeat-x',\
    'Repeat the mask pattern on the x-axys',\
    'mask-x-left mask-y-bottom mask-size-10'\
    ],\
    [\
    'mask-repeat-y',\
    'Repeat the mask pattern on the y-axys',\
    'mask-x-right mask-size-10'\
    ]\
]
