- classes =[\
    [\
    'mask-size-5',\
    'Resizing masks...',\
    'mask-x-center mask-y-center'\
    ],\
    [\
    'mask-size-10',\
    'Resizing masks...',\
    'mask-x-center mask-y-center'\
    ],\
    [\
    'mask-size-25',\
    'Resizing masks...',\
    'mask-x-center mask-y-center'\
    ],\
    [\
    'mask-size-50',\
    'Resizing masks...',\
    'mask-x-center mask-y-center'\
    ],\
    [\
    'mask-size-75',\
    'Resizing masks...',\
    'mask-x-center mask-y-center'\
    ],\
    [\
    'mask-size-100',\
    'Resizing masks...',\
    'mask-x-center mask-y-center'\
    ],\
    [\
    'mask-size-cover',\
    'Resizing masks...',\
    'mask-x-center mask-y-center'\
    ],\
    [\
    'mask-size-contain',\
    'Resizing masks...',\
    'mask-x-center mask-y-center'\
    ],\
    [\
    'mask-x-center',\
    'Resizing masks...',\
    'mask-size-50'\
    ],\
    [\
    'mask-y-center',\
    'Resizing masks...',\
    'mask-size-50'\
    ],\
    [\
    'mask-repeat',\
    'Repeat the mask pattern',\
    'mask-x-left mask-size-10'\
    ],\
    [\
    'mask-repeat-x',\
    'Repeat the mask pattern on the x-axys',\
    'mask-x-left mask-y-bottom mask-size-10'\
    ],\
    [\
    'mask-repeat-y',\
    'Repeat the mask pattern on the y-axys',\
    'mask-x-right mask-size-10'\
    ]\
]
