- masks =[\
	[\
		'arrow-left',\
		'arrow-left.svg'\
	],\
	[\
		'arrow-right',\
		'arrow-right.svg'\
	],\
	[\
		'bubbles-bottom-left',\
		'bubbles-bottom-left.svg'\
	],\
	[\
		'bubbles-bottom-right',\
		'bubbles-bottom-right.svg'\
	],\
	[\
		'bubbles-top-left',\
		'bubbles-top-left.svg'\
	],\
	[\
		'bubbles-top-right',\
		'bubbles-top-right.svg'\
	],\
	[\
		'bubbles',\
		'bubbles.svg'\
	],\
	[\
		'bubbling-bottom-inverse',\
		'bubbling-bottom-inverse.svg'\
	],\
	[\
		'bubbling-bottom',\
		'bubbling-bottom.svg'\
	],\
	[\
		'bubbling-top-inverse',\
		'bubbling-top-inverse.svg'\
	],\
	[\
		'bubbling-top',\
		'bubbling-top.svg'\
	],\
	[\
		'circle',\
		'circle.svg'\
	],\
	[\
		'corner-bottom-left',\
		'corner-bottom-left.svg'\
	],\
	[\
		'corner-bottom-right',\
		'corner-bottom-right.svg'\
	],\
	[\
		'corner-top-left',\
		'corner-top-left.svg'\
	],\
	[\
		'corner-top-right',\
		'corner-top-right.svg'\
	],\
	[\
		'grungeborder-1',\
		'grungeborder-1.svg'\
	],\
	[\
		'grungeborder-2',\
		'grungeborder-2.svg'\
	],\
	[\
		'polygon',\
		'polygon.svg'\
	],\
	[\
		'rounded',\
		'rounded.svg'\
	],\
	[\
		'shooting-star',\
		'shooting-star.svg'\
	],\
	[\
		'striped-30-left',\
		'striped-30-left.svg'\
	],\
	[\
		'striped-30-right',\
		'striped-30-right.svg'\
	],\
	[\
		'striped',\
		'striped.svg'\
	],\
	[\
		'stroke',\
		'stroke.svg'\
	],\
	[\
		'terrain-bottom',\
		'terrain-bottom.svg'\
	],\
	[\
		'terrain-top',\
		'terrain-top.svg'\
	],\
	[\
		'terrain',\
		'terrain.svg'\
	],\
	[\
		'tilt-left',\
		'tilt-left.svg'\
	],\
	[\
		'vintage-tiles',\
		'vintage-tiles.svg'\
	],\
]