- masks =[\
    [\
    'bubbles-bottom-left',\
    'bubbles-bottom-left.svg'\
    ],\
    [\
    'bubbles-bottom-right',\
    'bubbles-bottom-right.svg'\
    ],\
    [\
    'bubbles-top-left',\
    'bubbles-top-left.svg'\
    ],\
    [\
    'bubbles-top-right',\
    'bubbles-top-right.svg'\
    ],\
    [\
    'bubbles-top-right',\
    'bubbles.svg'\
    ],\
    [\
    'bubbling-bottom-inverse',\
    'bubbling-bottom-inverse.svg'\
    ],\
    [\
    'bubbling-bottom',\
    'bubbling-bottom.svg'\
    ],\
    [\
    'bubbling-top-inverse',\
    'bubbling-top-inverse.svg'\
    ],\
    [\
    'bubbling-top',\
    'bubbling-top.svg'\
    ],\
    [\
    'circle',\
    'circle.svg'\
    ],\
    [\
    'grungeborder-1',\
    'grungeborder-1.svg'\
    ],\
    [\
    'grungeborder-2',\
    'grungeborder-2.svg'\
    ],\
    [\
    'polygon',\
    'polygon.svg'\
    ],\
    [\
    'rectangles-transparent',\
    'rectangles-transparent.png'\
    ],\
    [\
    'rectangles-transparent',\
    'rectangles-transparent.svg'\
    ],\
    [\
    'rounded',\
    'rounded.svg'\
    ],\
    [\
    'rounded',\
    'shooting-star.svg'\
    ],\
    [\
    'stroke',\
    'stroke.svg'\
    ],\
    [\
    'tilt-left',\
    'tilt-left.svg'\
    ]\
]
